{% block footer %}

    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left ">
            <div class="col">
                <h5>Где мы находимся</h5>
                <div id="map" onloadstart="initMap()"></div>
            </div>
            <div class="col">
                <h5>Наши контакты</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="#"><i class="fa fa-phone"></i>+7 (7172) 888 888 8888</a></li>
                    <li><a href="#"><i class="fa fa-phone"></i>+7 771 666 3212</a></li>
                    <li><a href="#"><i class="fa fa-envelope-open"></i>brain.community@mail.ru</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>Мы в соцсетях</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="#"><i class="fa fa-instagram"></i>www.instagram.com/baimi</a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i>facebook.com/baimi</a></li>
                    <li><a href="#"><i class="fa fa-youtube-play"></i>www.youtube.com/baimi</a></li>
                    <li><a href="#"><i class="fa fa-vk"></i>vk.com/baimi</a></li>
                    <li><a href="#"><i class="fa fa-telegram "></i>web.telegram.org/baimi</a></li>
                    <li><a href="#"><i class="fa fa-whatsapp"></i>+7 771 666 3212</a></li>

                </ul>
            </div>
        </div>
    </div>

{% endblock %}